body {
  font-family: 'Montserrat', sans-serif;
  background: #212121;
  color: white;
}

h1 {
  font-size: 1em;
  text-transform: uppercase;
}

h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  font-weight: bold;
  color: #FCE11D;
}

.nav-list {
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}

.nav-list-inline * {
  display: inline-block;
}

.overlay-nav-container {
  position: fixed;
  bottom: 32px;
  right: 32px ;
  z-index: 10;
}

.overlay-nav {
  background: rgba(51, 51, 51, 90%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 144px;
  height: 144px;
  text-align: center;
}

.header-row h2 {
  display: inline-block;
}

.youtube {
  width: 100%;
  height: 420px;
}


/* NEWS */

.news {
    padding-top: 10px; 
    padding-bottom: 10px; 
}

.news-title {
    color: white; 
    font-size: 25px; 
}

.news-date {
    font-weight: bold;  
    font-size: 20px; 
    color: #56CCF2; 
}


/* FOOTER */ 

.footer {
    width: 100%; 
    background-color: #424242; 
}








