body {
  font-family: 'Montserrat', sans-serif;
  background: #212121;
  color: white;
}

h1 {
  font-size: 1em;
  text-transform: uppercase;
}

h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  font-weight: bold;
  color: #FCE11D;
  margin-top: 50px;
  padding: 20px 0px;
}

h1 {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;  
}

#home-logo {
  width: 55vw;
  margin: 0px auto;  
  z-index: 10;
}

.nav-list {
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}

.nav-list-inline * {
  display: inline-block;
}

.overlay-nav-container {
  position: fixed;
  bottom: 32px;
  right: 32px ;
  z-index: 10;
}

.overlay-nav {
  background: rgba(51, 51, 51, 90%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 144px;
  height: 144px;
  text-align: center;
}

.header-row h2 {
  display: inline-block;
}

.youtube {
  width: 100%;
  height: 420px;
}

<<<<<<< HEAD
=======

/* NEWS */

.news-container {
    padding-bottom: 30px; 
}

.news {
    padding-top: 10px; 
    padding-bottom: 10px; 
}

.news-title {
    color: white; 
    font-size: 25px; 
}

.news-date {
    font-weight: bold;  
    font-size: 20px; 
    color: #56CCF2; 
}


/* FOOTER */ 

.footer-container {
    padding-top: 30px; 
    padding-bottom: 30px;  
    width: 100%;  
}











>>>>>>> b3c0f6a800660fd0c053d6cea20189dea83effb9
